<b>Teams</b>

<ul id="teams">
  <% @teams.each do |t| %>
     <li><%= render t %> </li>
  <% end %>
</ul>

<br>

<%= form_for(@team,remote: true) do |f| %>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    <%= f.submit "Save" %>
<% end %>