<div class="large-12 columns">
  <div class="rows">
    <div class="large-2 columns tmgt-btn-budge-style1">
      <h5>Submitted Reports</h5>
    </div>
  </div>
</div>


<section  id="reports" class="tabs-content tmgt-container-section cm-tab-container">
  <div class="cm-listview-wrapper   cm-row-margin-remove">
    <ul id="teams" class="cm-listview">
      <li class="row tmgt-view-report-page cm-listheader">
        <div class="large-3 columns tmgt-container">
          Name
        </div>
        <div class="large-3 columns tmgt-container">
          Status
        </div>
        <div class="large-5 columns tmgt-container">
          Actions
        </div>
      </li>
      <br/>
      <div id="submitted_reports">
        <% @submitted_reports.each do |report| %>
            <li id='<%= dom_id(report)%>'  class="row tmgt-view-report-page">
              <div class="large-3 columns tmgt-container">
                <div class="row">
                  <div class="large-12 columns report_date">
                    <%= report.report_date %>
                    <br/>
                    <br/>
                  </div>
                </div>
              </div>
              <div class="large-3 columns tmgt-container">
                <div class="row">
                  <div class="large-12 columns report_status">
                    <%= report.status %>
                    <br/>
                    <br/>
                  </div>
                </div>
              </div>
              <div class="large-5 columns tmgt-container">
                <div class="row">
                  <div class="large-3 columns">

                    <%= link_to user_report_path(report.user,report) do%>
                        <i class="fa fa-list-alt radius" data-tooltip data-options="disable_for_touch:true"  title="View Detail"> Detail</i>
                    <% end %>
                    <br/>
                    <br/>
                  </div>
                  <div class="large-3 columns">
                    <%= link_to get_excel_user_report_path(user_id: current_user.id,id: report.id) do %>
                        <i class="fa fa-arrow-down radius" data-tooltip data-options="disable_for_touch:true"  title="Download Excel File"> Excel</i>
                    <% end %>
                    <br/>
                    <br/>
                  </div>
                  <div class="large-3 columns">
                    <% if can?(:review,report) then%>
                        <%= link_to "Write Review",edit_leader_team_report_path(report) %>
                    <% end %>
                  </div>

                </div>
              </div>
            </li>

            </div>
        <% end %>
    </ul>
    <br/>
    <br/>

  </div>
</section>
<br/>
<br/>
<div class="large-12 columns">
  <div class="rows">
    <div class="large-2 columns tmgt-btn-budge-style1">
      <h5>Reviewed Reports</h5>
    </div>
  </div>
</div>
<section  id="reports" class="tabs-content tmgt-container-section cm-tab-container">

      <div id="reviewed_reports">
        <% @reviewed_reports.each do |report| %>
        <div id="panel-<%= team.split().flatten.join %>" class="content" role="tabpanel">
          <table>
            <thead>
              <tr>
                <th>
                  Name
                </th>
                <th>
                  Date
                </th>
                <th>
                  Status
                </th>
                <th>
                  Actions
                </th>
              </tr>
            </thead>
            <tbody>
              <tr id="panel-<%= team.split.flatten.join %>">  
                <% reports.each do |report| %>
                    <%= render partial:'leader/reports/report',locals: {report: report} %>
                <% end %>
              </tr>
            </tbody>
          </table>
        </div>
            <li id='<%= dom_id(report)%>'  class="row tmgt-view-report-page">
              <div class="large-3 columns tmgt-container">
                <div class="row">
                  <div class="large-12 columns report_date">
                    <%= report.report_date %>
                    <br/>
                    <br/>
                  </div>
                </div>
              </div>
              <div class="large-3 columns tmgt-container">
                <div class="row">
                  <div class="large-12 columns report_status">
                    <%= report.status %>
                    <br/>
                    <br/>
                  </div>
                </div>
              </div>
              <div class="large-5 columns tmgt-container">
                <div class="row">
                  <div class="large-3 columns">

                    <%= link_to user_report_path(report.user,report) do%>
                        <i class="fa fa-list-alt radius" data-tooltip data-options="disable_for_touch:true"  title="View Detail"> Detail</i>
                    <% end %>
                    <br/>
                    <br/>
                  </div>
                  <div class="large-3 columns">
                    <%= link_to get_excel_user_report_path(user_id: current_user.id,id: report.id) do %>
                        <i class="fa fa-arrow-down radius" data-tooltip data-options="disable_for_touch:true"  title="Download Excel File"> Excel</i>
                    <% end %>
                    <br/>
                    <br/>
                  </div>
                  <div class="large-3 columns">
                    <% if can?(:review,report) then%>
                        <%= link_to "Write Review",edit_leader_team_report_path(report) %>
                    <% end %>
                  </div>

                </div>
              </div>
            </li>
        <% end %>
      </div>
    </ul>
    <br/>
    <br/>

  </div>
</section>


