<h1>Reports</h1>
<div id="submitted_reports">
<% @submitted_reports.each do |report| %>
    <div id='<%= dom_id(report)%>'>
      <%= report.user.name %>
      <%= report.report_date %>
      <%= report.status %>
      <%= link_to "View Detail",user_report_path(report.user,report) %>
      <%= link_to "Write Review",edit_leader_team_report_path(report) %>
      <% if can?(:submit,report) then%>
          <%= form_for(report,url: submit_user_report_path(report.user,report),method: :put) do |f| %>

              <%= f.submit 'Submit Report' %>
          <%end %>
      <% end %>
    </div>
<% end %>
</div>
<div id="reviewed_reports">
  <% @reviewed_reports.each do |report| %>
      <div id='<%= dom_id(report)%>'>
        <%= report.user.name %>
        <%= report.report_date %>
        <%= report.status %>
        <%= link_to "View Detail",user_report_path(report.user,report) %>
        <%= link_to "Write Review",edit_leader_team_report_path(report) %>
        <% if can?(:submit,report) then%>
            <%= form_for(report,url: submit_user_report_path(report.user,report),method: :put) do |f| %>

                <%= f.submit 'Submit Report' %>
            <%end %>
        <% end %>
      </div>
  <% end %>
</div>