<%= form_for ([@team,@team_report]) do |f| %>
    <% if @team_report.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= "#{pluralize(@team_report.errors.count, "error")} prohibited this team_report from being saved:" %>
          </h2>
          <ul>
            <% @team_report.errors.full_messages.each do |msg| %>
                <li>
                  <%= msg %>
                </li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field">
      <div class='large-2 columns label secondary radius'>
        <%= f.label :content %>
      </div>
      <%= f.text_area :content %>
    </div>  <br/>
    <fieldset>
    <div class="kmn-date-time">
      <legend class='label secondary radius'>
        <%= f.label :report_date %>
      </legend>
      <%= f.date_select :report_date %>
    </div>
    </fieldset><br/>
    <div class="field">
      <%= f.hidden_field :team_id,:value => current_user.team_id %>
    </div>   <br/>
    <div class="actions">
      <%= f.submit 'Save',class: 'button medium primary radius' %>
    </div>
<% end %>

