<div id="team_reports">
  <% @team_reports.each do |team_report| %>
    <div id='<%= dom_id(team_report) %>'>
        <div class="content">
          <%= team_report.content.truncate(50)%>
        </div>
        <div class="date">
          <%= team_report.report_date %>
        </div>
        <div class="status">
          <%= team_report.status %>
        </div>
        <div class="actions">
          <%= link_to 'View Detail',team_team_report_path(team_report.team,team_report) %>
          <%= link_to 'Edit',edit_team_team_report_path(team_report.team,team_report) %>
        </div>
    </div>
  <% end %>
</div>
<%= link_to 'new',new_team_team_report_path() %>
