<section class="tmgt-container-section">
<div class="row">
  <div class="large-12 columns">
    <div class="rows">
      <div class="large-2 columns">
        <h3 class="label round"><%= @team_report.team.name %></h3>
      </div>
      <div class="large-2 columns">
        <h3 class="label round"><%= @team_report.report_date %></h3>
      </div>
      <div class="large-2 columns">
          <%= link_to "Back", :back, class: 'button medium info' %>
      </div>
    </div>
  </div>
</div>

<div id='<%= dom_id(@team_report)%>' class="row">
    <div class="large-12 columns info-panel">
        <%= @team_report.content %>
    </div>
</div>
</section>