<h1>"Edit member"</h1>
<div class="errors">
  <%= @user.errors %>
</div>
<%= form_for(@user,method: :put) do |f| %>
    <div>
      <%= f.label :email %>
      <br/>
      <%= f.email_field :email, :autofocus => true %>
    </div>
    <div>
      <%= f.label :name %>
      <br/>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label :employee_number %>
      <br/>
      <%= f.text_field :employee_number %>
    </div>
    <div>
      member
      <%= f.radio_button :role, "member",:id=> "member" %>
      leader
      <%= f.radio_button :role, "leader", :id=> "leader" %>
    </div>
    <div>
      <%= f.label :date_of_birth %>
      <br/>
      <%= f.date_select :date_of_birth %>
    </div>
    <div>
      <%= f.label :teams %>
      <br/>
      <%= f.collection_select :team_id, Team.all, :id, :name, prompt: true %>
    </div>
    <div>
      <%= f.submit "Update" %>
    </div>
<% end %>
