<h3> Member List </h3>
<section  id="reports" class="tabs-content tmgt-container-section cm-tab-container">
<div class="cm-listview-wrapper   cm-row-margin-remove">
    <%= render partial: 'user_teams_secondary_nav',locals: {active_team: @active_team} %>
    <ul class="cm-listview">

    <li class="row cm-listheader">
      <div class="large-3 columns tmgt-container">
        Date
      </div>
      <div class="large-3 columns tmgt-container">
        <div class="row">
          <div class="large-6 columns">
            Team
          </div>
          <div class="large-6 columns">
            Leader?
          </div>
        </div>
      </div>
      <div class="large-5 columns tmgt-container">
        Actions
      </div>
    </li> <!-- eo rows -->
      <br/>
      <% @users.each do |u| %>
        <li id='<%= dom_id(u) %>' class='row tmgt-view-report-page'>

          <div class="large-3 columns">
            <%= u.name %>
          </div>

          <div class="large-3 columns team_name">
            <div class="row">
              <div class="large-6 columns">
                <%= u.team.name %>
              </div>
              <div class="large-6 columns">
                <%if u.leader? then %>
                    <i class="fa  fa-star radius leader_icon" data-tooltip data-options="disable_for_touch:true" title="leader"></i>
                <% end %>
              </div>
            </div>
          </div>


          <div class="large-5 columns">
            <% if can? :edit,u then%>
                <div class="row">
                    <div class="large-4 columns">
                      <%= link_to user_path(u) do %>
                          <i class="fa fa-list-alt radius" data-tooltip data-options="disable_for_touch:true"  title="View Profile"> Detail</i>
                      <% end %>
                    </div>
                  <div class="large-4 columns">
                    <%= link_to edit_user_path(u) do %>
                        <i class="fa fa-pencil-square-o radius" data-tooltip data-options="disable_for_touch:true" title="Edit Profile"> Edit</i>
                    <% end %>
                  </div>
                    <div class="large-4 columns">
                      <a href="#" class="transfer_link button tiny info round">
                        <i class="fa fa-share-square-o radius" data-tooltip data-options="disable_for_touch:true" title="Transfer Team"> Transfer</i>
                      </a>
                      <%= render partial: 'team_transfer_form',locals:{user: u} %>
                    </div>
                 </div>

            <% end %>
          </div>
        </li>


    <%end%>
    </ul>
</div>
</section>
<div class="pagination-centered">
  <%= will_paginate @users, renderer: FoundationPagination::Rails %>
</div>
<%= link_to new_user_path,class: 'button info small radius' do %>
    <i class="fa fa-plus-square radius" data-tooltip data-options="disable_for_touch:true" title="New Member"> New</i>
<% end %>
