

<section  id="reports" class="tabs-content tmgt-container-section cm-tab-container">
  <div class="row">
    <div class="large-2 columns tmgt-btn-budge-style1">
      <h5>Member List</h5>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <%= render partial: 'user_teams_secondary_nav',locals: {active_team: @active_team} %>
    </div>
  </div>
  <div class="row">
      <table class="large-12">
        <thead>
          <tr>
            <th>
              Photo
            </th>
            <th>
              Name
            </th>
            <th>
              Team
            </th>
            <th>
              Leader?
            </th>
            <th colspan="3">
              Actions
            </th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |u| %>
            <tr id='<%= dom_id(u) %>'>
              <td>
                <div class="avatar">
                  <%= image_tag (u.photo.url(:medium).blank? ? u.photo.url(:medium) : "https://randomuser.me/api/portraits/#{ ["men", "women"].sample}/#{rand(1..100)}.jpg"),:width=>"100px",:height=>"100px",class: 'cm-rounded-image'%>
                </div>
              </td>
              <td>
                <%= u.name %>
              </td>
              <td>
                <%= u.team.name %>
              </td>
              <td>
                <%if u.leader? then %>
                    <i class="fa  fa-star radius leader_icon" data-tooltip data-options="disable_for_touch:true" title="leader"></i>
                <% end %>
              </td>
              <% if can? :edit,u then%>
                <td>
                  <%= link_to user_path(u) do %>
                    <i class="fa fa-list-alt radius" data-tooltip data-options="disable_for_touch:true"  title="View Profile"> Detail</i>
                  <% end %>
                </td>
                <td>
                  <%= link_to edit_user_path(u) do %>
                    <i class="fa fa-pencil-square-o radius" data-tooltip data-options="disable_for_touch:true" title="Edit Profile"> Edit</i>
                  <% end %>
                </td>
                <td>
                  <a href="#" class="transfer_link button tiny info round">
                    <i class="fa fa-share-square-o radius" data-tooltip data-options="disable_for_touch:true" title="Transfer Team"> Transfer</i>
                  </a>
                  <%= render partial: 'team_transfer_form',locals:{user: u} %>
                </td>
              <% end %>
            </tr>
          <%end%>
        </tbody>
      </table>  
  </div>
</section>
<div class="pagination-centered">
  <%= will_paginate @users, renderer: FoundationPagination::Rails %>
</div>
<div class="row">
  <div class="large-2 large-offset-10 columns">
    <% if can? :create,User %>
        <%= link_to new_user_path,class: 'button success small radius' do %>
            <i class="fa fa-plus-square radius" data-tooltip data-options="disable_for_touch:true" title="New Member"> New</i>
        <% end %>
    <% end %>
  </div>
</div>
