<div id="reports">
  <% unless reports.empty? %>
      <% reports.each do |report| %>
          <div id='<%= dom_id(report)%>'>
            <%= report.user.name %>
            <%= report.report_date %>
            <%= link_to "View Detail",report_path(report) %>
            <%= link_to "Edit",edit_report_path(report) %>
          </div>
      <% end %>
  <% else %>
      You have not generated reports for this week yet.
      <%= form_tag(reports_path) do %>
         <%= submit_tag 'Generate Now' %>
      <%end%>

  <%end%>
</div>