

<section  id="reports">
  <div class="row">
    <div class="large-2 columns tmgt-btn-budge-style1">
      <h5>Team Reports</h5>
    </div>
  </div>
  <table class="large-12 columns">
    <thead>
      <tr id="teams">
        <th>
          Date
        </th>
        <th>
          Status
        </th>
        <th>
          Team
        </th>
        <th>
          Action
        </th>
      </tr>
    </thead>
    <tbody>
      <% @team_reports.each do |team_report| %>
          <tr id="<%= dom_id team_report %>">
            <td>
              <%= team_report.report_date %>
            </td>
            <td>
              <%= team_report.status %>
            </td>
            <td>
              <%= team_report.team.name %>
            </td>
            <td>
              <%= link_to team_team_report_path(team_report.team,team_report) do%>
                  <i class="fa fa-list-alt radius" data-tooltip data-options="disable_for_touch:true"  title="Chat Message"> Detail</i>
              <% end %>
            </td>
          </tr>
      <% end %>
    </tbody>
    </table>

  </div>
</section>
