    <div class="large-9 columns" >
      <%= render partial: 'tabs',locals: {groups: @groups} %>
      <section class="tabs-content tmgt-container-section" id="chat_container">
         <% @groups.each do|g| %>
            <%= render partial: 'chat/chat_panel',locals: {group: g} %>
        <% end %>

      </section>  <!-- eo tmgt-container-section -->
        <div class="row tmgt-chat-control">
          <%= form_for Message.new,remote: true do |f|%>
                <div class="large-9 columns">
                  <%= f.text_area :content,cols: '30',rows: '5',class: 'tmgt-container-textarea' %>
                  <%= f.hidden_field :group_id,value: ''%>
                </div>
                <div class="large-3 columns">
                <%= f.submit "Send",class: 'tmgt-btn-red' %>

                </div>
                </div>
            <%end%>
      <br><br><br><br><br><br><br>
    </div>  <!-- eo large-12 columns -->

    <div class="large-3 columns">
      <div class="row">
        <div class="large-12 columns">
          <h4>Groups You've involved</h4>
          <ul class="tmgt-container-member-btn-group" id="chat_groups">
                <%= render partial: 'layouts/common/chat_groups' %>
          </ul>
          <br/>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
            <ul class="tmgt-container-member-btn-group" id="owned_groups">
            <h4>Your groups</h4>
            <% @owned_groups.each do|group| %>
                <%= render :partial=> 'groups/own_group', locals: {group: group} %>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <fieldset id='group_field'>
            <legend>Add new group</legend>
            <div id='new_group_form'>
              <%= form_for ([current_user,@group]),remote: true do |f| %>
                  <%= f.label :name %>
                  <%= f.text_field :name %> <br>
                  <%= f.submit 'create'%>
              <% end %>
            </div>
          </fieldset>
        </div>
      </div>


    </div> <!-- end of large-3 columns -->






    <% if current_user then %>
        <%= subscribe_to "/messages/#{current_user.id}" %>
    <% end %>

    <%= subscribe_to '/messages/test' %>