<tr id='<%= dom_id(report)%>'>
  <td>
    <%= report.user.name %>
  </td>
  <td>
    <%= report.report_date %>
  </td>
  <td>
    <i class="<%= present_report_status(report.status)%>" data-tooltip data-options="disable_for_touch:true"  title="<%= report.status %>"></i> <br/>
  </td>
    <td>

      <%= link_to user_report_path(report.user,report) do%>
          <i class="fa fa-list-alt radius" data-tooltip data-options="disable_for_touch:true"  title="View Detail"> Detail</i>
      <% end %>
    </td>
    <td>
      <%= link_to get_excel_user_report_path(user_id: current_user.id,id: report.id) do %>
          <i class="fa fa-arrow-down radius" data-tooltip data-options="disable_for_touch:true"  title="Download Excel File"> Excel</i>
      <% end %>
    </td>
    <td>
      <% unless report.generated? %>
          <%= form_for(:report_file,url: admin_report_files_path(report.build_report_file),remote: true, html: {class: "report_file_form"}) do|f| %>
              <%= f.hidden_field :report_id, value: report.id %>
              <%= f.hidden_field :file_date, value: Date.today %>
              <%= f.submit 'Generate',class: 'tiny button info round' %>
          <% end %>
      <% else %>
          <i class="fa fa-check radius" style="color: green;" data-tooltip data-options="disable_for_touch:true"  title="Reports for this user has been generated"> Genereated</i>
      <% end %>
    </td>
</tr>