<section  id="reports" class="tabs-content tmgt-container-section cm-tab-container">

<div class="row">
  <div class="large-2 columns tmgt-btn-budge-style1">
    <h5>Today Reports</h5>
  </div>

</div>


<dl class="tabs" data-tab id="chatbox-tab-switcher">
  <% @reports.each do|team,reports| %>
    <dd >
      <a href="#panel-<%= team.split().flatten.join %>"><%= team %><%= render partial: 'layouts/common/submitted_report_count',locals: {team_name: team,submitted_reports: reports} %></a>

    </dd>
  <% end %>
</dl>
  <div class="tabs-content">
    <% @reports.each do |team,reports| %>
      <div id="panel-<%= team.split().flatten.join %>" class="content" role="tabpanel">
        <table>
          <thead>
            <tr>
              <th>
                Name
              </th>
              <th>
                Date
              </th>
              <th>
                Status
              </th>
              <th>
                Actions
              </th>
            </tr>
          </thead>
          <tbody>
            <tr id="panel-<%= team.split.flatten.join %>">  
              <% reports.each do |report| %>
                  <%= render partial:'admin/reports/report',locals: {report: report} %>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
</section>


<div id="download_link_container">

  <%= button_to 'Zip Today Reports',admin_make_zip_path,method: :post,class: 'button success',remote: true %>
</div>
