<div class="large-12 columns">
  <div class="rows">
    <div class="large-2 columns tmgt-btn-budge-style1">
      <h5><%= @report.user.name %></h5>
    </div>
    <div class="large-2 columns tmgt-btn-budge-style1">
      <h5><%= @report.report_date %></h5>
    </div>
    <div class="large-2 columns tmgt-btn-budge-style1">
      <h5>
        <%= @report.user.team.name %>
      </h5>
    </div>
  </div>
</div>

<div id="plan_for_today">
  <div class="row">
      <div class="large-12 columns">
        <section class="cm-report-edit-fields">
          <header class="tmgt-plan">Planned for Today</header>
          <div class="cm-planned-report tmgt-container">
            <%= simple_format(@report.plan_for_today) %>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<%= form_for([@report.user,@report],method: :put) do|f| %>
    <!-- Form url  -->
    <div class="row" id="plan_for_today">
      <%= render layout: 'report_field', locals: {heading: "Planned For Today", front: true }  do %>
          <%= simple_format(@report.plan_for_today) %>
      <% end %>
    </div>

    <div class="row">
      <div class="large-6 columns">
          <%= render layout: 'report_field', locals: {heading: "Experience" } do %>
            <%= f.text_area :experience, rows: 10, class: 'normal' %>
          <% end %>
        </div>
        <div class="large-6 columns">
          <%= render layout: 'report_field', locals: {heading: "Next Plan" } do %>
            <%= f.text_area :plan, rows: 10, class: 'normal' %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="large-6 columns">
          <%= render layout: 'report_field', locals: {heading: "Problems" } do %>
            <%= f.text_area :problem, rows: 10 , class: 'normal'%>
          <% end %>
        </div>
        <div class="large-6 columns">
          <%= render layout: 'report_field', locals: {heading: "Solution" } do %>
            <%= f.text_area :solution, rows: 10, class: 'normal' %>
          <% end %>
        </div>
    </div>
    <br/><br/>
      <div class="row">

        <div class="large-12 tmgt-right-btn-group">
          <%= f.submit 'Write and Preview',class: 'button radius'%>
        </div>
      </div>
    <!-- eo form -->
<% end %>