Edit Report
<div id="plan_for_today">
  <h4>What you planned for today was:</h4>
  <%= @report.plan_for_today %>
</div>
<%= form_for([@report.user,@report],method: :put) do|f| %>
    <!-- Form url  -->
      <div class="large-6 columns">
        <section class="tmgt-report-detail-container-budge">
          <header class="tmgt-plan">Plan</header>
          <%= f.text_area :plan %>
          <!--<textarea name="plan" id="" cols="30" rows="10"></textarea>-->
        </section>
      </div>
      <div class="large-6 columns">
        <section class="tmgt-report-detail-container-budge">
          <header class="tmgt-problem">Problems</header>
          <%= f.text_area :problem,class: 'tmgt-container-textarea'%>
          <!--<textarea name="problem" id="" cols="30" rows="10"></textarea>-->
        </section>
      </div>
      <div class="large-6 columns">
        <section class="tmgt-report-detail-container-budge">
          <header class="tmgt-exp">Experience</header>
          <!--<textarea name="experience" id="" cols="30" rows="10"></textarea>-->
          <%= f.text_area :experience %>
        </section>
      </div>
      <div class="large-6 columns">
        <section class="tmgt-report-detail-container-budge">
          <header class="tmgt-solution">Solution</header>
          <%= f.text_area :solution%>
          <!--<textarea name="solution" id="" cols="30" rows="10"></textarea>-->
        </section>
      </div>
      <div class="large-12 tmgt-right-btn-group">
        <%= f.submit 'Write and Preview',class: 'button radius'%>
      </div>
    <!-- eo form -->
<% end %>