<div class="row">
    <div class="large-2 columns label">
       <h5 class="white-text"><%= @report.user.name %></h5>
    </div>
    <div class="large-2 large-offset-1 columns label">
      <h5 class="white-text"><%= @report.report_date %></h5>
    </div>
    <div class="large-2 large-offset-1 columns label">
      <h5 class="white-text">
        <%= @report.user.team.name %>
      </h5>
    </div>
    <div class="large-2 columns">

        <%= link_to "Back", :back,class: 'button medium info' %>

    </div>
</div>
<div class="row" id="plan_for_today">
  <%= render partial: 'report_field', locals: {heading: "Planned For Today", content: simple_format(@report.plan_for_today), front: true } %>
</div>
<div class="row">
  <div class="large-6 columns">
    <%= render partial: 'report_field', locals: {heading: "Experience", content: simple_format(@report.experience) } %>
  </div>
  <div class="large-6 columns">
    <%= render partial: 'report_field', locals: {heading: "Next Plan", content: simple_format(@report.plan) } %>
  </div>
</div>
<div class="row">
  <div class="large-6 columns">
    <%= render partial: 'report_field', locals: {heading: "Problems", content: simple_format(@report.problem) } %>
  </div>
  <div class="large-6 columns">
    <%= render partial: 'report_field', locals: {heading: "Solution", content: simple_format(@report.solution) } %>
  </div>
</div>
<% unless @report.review.blank? %>
    <div class="row">
      <div class="large-12 columns">
        <div class="rows">
          <div class="tmgt-containner-leader-review">
            <div class="large-2 columns">
              <span>Leader's Review</span>
            </div>
            <div class="large-8 columns">
                <%= simple_format(@report.review) %>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>


