<div class="row">
    <div class="large-2 columns label">
       <h5 class="white-text"><%= @report.user.name %></h5>
    </div>
    <div class="large-2 large-offset-1 columns label">
      <h5 class="white-text"><%= @report.report_date %></h5>
    </div>
    <div class="large-2 large-offset-1 columns label">
      <h5 class="white-text">
        <%= @report.user.team.name %>
      </h5>
    </div>
    <div class="large-2 columns">

        <%= link_to "Back", :back,class: 'button medium info' %>

    </div>
</div>
<div class="row" id="plan_for_today">
  <%= render layout: 'report_field', locals: {heading: "Planned For Today" } do %>
    <%= simple_format(@report.plan_for_today) %>
  <% end %>
</div>
<div class="row">
  <div class="large-6 columns">
    <%= render layout: 'report_field', locals: {heading: "Experience" } do %>
      <%= simple_format(@report.experience) %>
    <% end %>
  </div>
  <div class="large-6 columns">
    <%= render layout: 'report_field', locals: {heading: "Next Plan" } do %>
      <%= simple_format(@report.plan) %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="large-6 columns">
    <%= render layout: 'report_field', locals: {heading: "Problems" } do %>
      <%= simple_format(@report.problem) %>
    <% end %>
  </div>
  <div class="large-6 columns">
    <%= render layout: 'report_field', locals: {heading: "Solution" } do %>
      <%= simple_format(@report.solution) %>
    <% end %>
  </div>
</div>
<% unless @report.review.blank? %>
    <div class="row">
      <div class="large-12 columns">
        <div class="rows">
          <div class="tmgt-containner-leader-review">
            <div class="large-2 columns">
              <span>Leader's Review</span>
            </div>
            <div class="large-8 columns">
                <%= simple_format(@report.review) %>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>


