<section id="reports" class="tabs-content tmgt-container-section">
  <div class="row">
    <div class="large-2 columns tmgt-btn-budge-style1">
      <h5>Mail list</h5>
    </div>
  </div>
  <div class="cm-listview-wrapper   cm-row-margin-remove">

  <ul class="cm-listview">
  <li class="row cm-listheader">
    <div class="large-1 columns tmgt-container">
      Date
    </div>
    <div class="large-2 columns tmgt-container">
      Subject
    </div>
    <div class="large-3 columns tmgt-container">
      To
    </div>
    <div class="large-3 columns tmgt-container">
      Cc
    </div>
    <div class="large-3 columns tmgt-container">
      Actions
    </div>
  </li><br/>

    <% @adminmails.each do |u| %>
        <li>
          <div class="large-1 columns tmgmt-container">
            <%= u.date %>
          </div>

          <div class="large-2  columns tmgmt-container">
            <%= u.subject %>
          </div>

          <div class="large-3 columns tmgmt-container">
            <%= u.receiver_mail %>
          </div>

          <div class="large-3 columns tmgmt-container">
            <%= u.cc %>
          </div>

          <div class="large-3 columns tmgmt-container">
            <% if can? :edit,u then%>
                <div class="row">
                  <div class="large-6 columns">
                    <%= link_to u do%>
                        <i class="fa fa-list-alt radius" data-tooltip data-options="disable_for_touch:true" title="Show mail"> Detail</i>
                    <% end %>
                  </div>
                  <div class="large-6 columns">
                    <%= link_to u, method: :delete, data: { confirm: 'Are you sure?' } do %>
                        <i class="fa fa-eraser radius" data-tooltip data-options="disable_for_touch:true" title="Delete Mail"> Delete</i>
                    <% end %>
                  </div>
                </div>

            <% end %>
          </div>
        </li><br/><br/>
    <%end%>
  </ul>
</div>
</section>
<div class="pagination-centered">
  <%= will_paginate @adminmails, renderer: FoundationPagination::Rails %>
</div>
