<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= csrf_meta_tags %>
</head>

<body>
<%= render partial: 'layouts/admin_top_navigation' %>
<%= render partial: 'layouts/common/notice' %>
<% unless current_user then %>
    <%= link_to('sign in',new_user_session_path) %>
<% end %>


<!-- Body -->
<section class="main-section" id="main-section">
  <div class="row hack-row">
    <div class="large-12 columns">
      <div class="row">
        <%= render 'layouts/common/admin_off_canvas_menu' %>
        <div class="large-12 columns main-process-before" id="main-process">
          <div class="row">
            <%= javascript_include_tag "application" %>
            <%= yield %>
          </div><!-- eo rows -->
        </div> <!-- eo large-12columns -->
      </div>  <!-- eo rows -->
    </div> <!-- eo large-12columns -->
  </div>  <!-- eo row hack-row -->
</section>  <!-- eo main-section -->
</body>
</html>