<div class="contain-to-grid fixed">
<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <div><h1>AWITD Team Management</h1></div>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section class="top-bar-section">    
    <ul class="right" id="tooltip-group">
      <li>
        <%= link_to admin_team_reports_path do %>
          <i class="fa fa-clipboard tip-bottom radius" data-options="disable_for_touch:true" title="Team Reports">Team Reports</i>
        <% end %>
      </li>
      <li>
        <%= link_to admin_reports_path do %>
          <i class="fa fa-print tip-bottom radius" data-options="disable_for_touch:true" title="Manage Member Reports"> Reports</i>
        <% end %>
      </li>
      <li>
        <%= link_to adminmails_path do %>
          <i class="fa fa-envelope tip-bottom radius" data-options="disable_for_touch:true" title="Compose Mail">Emails</i>
        <% end %>
      </li>
      <li>
        <%= link_to users_path do %>
           <i class="fa  fa-user tip-bottom radius" data-options="disable_for_touch:true"  title="Manage Users"> Users</i>
        <% end %>
      </li>
      <li>
        <%= link_to teams_path  do %>
          <i class="fa fa-group tip-bottom radius" data-options="disable_for_touch:true" title="Manage Teams"> Teams</i>
        <% end %>
      </li>
      <li>
        <%= link_to logout_path,method: :delete do %>
          <i class="fa fa-sign-out tip-bottom radius" data-options="disable_for_touch:true" class="" title="Log out">Log out</i>
        <% end %>
      </li>
    </ul>
  </section>   <!-- eo right tab-bar-section -->
</nav> <!-- eo tab-bar -->
</div>
<br/><br/> <br/>